.clearfix::after {
    clear: both;
    content: "";
    display: block;
}
/**Header Style**/
.header {
    background:white;
    padding: 35px 200px 0 200px;
    border-bottom:2px solid #4aaaa5;
}

h1 {
    float: left;
    color: white;
    font-family: 'Georgia', Times, Times New Roman, serif;
    background: #4aaaa5;
    padding: 30px;
    margin-bottom: 0px;
}

nav {float: right; 
    word-spacing: 30px;
    margin-top: 60px;
}

.navlinks {color: #777777;
    text-decoration: none;
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
}

a:hover {color: #4aaaa5;}

/**Content Style**/
.background {
    border-bottom: 7px solid #4aaaa5;
    background-image: url(../images/purple.png);
    padding-bottom: 30px;
}

.content {
    border: 2px solid #4aaaa5;
    border-top: 0px;
    padding: 20px;
    margin: 0 200px 30px 200px;
    background-color: white;
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    color: #777777;
    line-height: 30px;
}

h2{
    font-family: 'Georgia', Times, Times New Roman, serif;
    color: #4aaaa5;
    margin: 5px 0 25px 5px;
    padding-bottom: 20px;
    border-bottom: 3px solid #dddddd;
}

p {
    margin-left:5px;
}
/**Footer Style**/
footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    color: white;
    font-size: 8px;
    font-family:'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    text-align: center;
    background-color: #666666;
    padding-top: 18px;
    padding-bottom: 5px;
}

/**About Me Style**/
.headshot {
    width: 30%;
    float: left;
    margin: 0 15px 5px 5px;
}

/**Contact Style**/
form {
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    color: #777777;
}

label {
    margin-top: 40px;
}

input {
    width: 100%;
    border: 1px solid #dddddd;
    margin-left: 2px;
    margin-bottom: 10px;
    padding: 5px;
}

textarea {
    width: 100%;
    height: 125px;
    border: 1px solid #dddddd;
    margin-left: 2px;
   
}

#submit {
    background-color: #4aaaa5;
    color: white;
    width: 75px;
    height: 30px;
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    margin-left: 2px;
}

#submit:hover {
    background-color: #CBA90A;
}

/**Portfolio Style**/

.portfolio{
    position: relative;
    margin-left: 20px;
    margin-bottom: 25px;
    float: left;
    
}
.portfolioimg{
    width:200px;
}
.portfoliotxt {
    position: absolute;
    top: 75%;
    z-index: 2;
    background: #4aaaa5;
    color: white;
    width: 200px;
    margin: 0;
    line-height: 30px;
    text-align: center;
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
}
.portfolioclick:hover{
    opacity: .2;
}